doctype html
html(lang='en')
   head
      title= title
      link(rel='stylesheet' href='/stylesheets/style.css')
   body
      h1= title
      p Welcome to #{title}
      a(href='/new') New message
      each message in messages
         div
            h2= message.user
            p= message.text
            p= message.added
